body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    color: aliceblue;
    font-size: 3rem;
    line-height: 1.5;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
}

#title {
    background: #ff8a88;
    padding: 3% 0;
}

.navbar {
    padding: 0;
}

.container-fluid {
    padding: 3% 15% 7%;
}

.navbar-brand {
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 1;
    color: aliceblue;
}

.nav-item {
    padding: 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: 'Montserrat-Light', sans-serif;
    color: aliceblue;
}

/* Download Buttons */
.download-button {
    margin: 5% 3% 5% 0;
}

.title-class {
    width: 20%;
    transform: rotate(25deg);
    position: absolute;
    right: 20%;
}

.x {
    color: #ff4868;
    font-size: 5rem;
    padding-bottom: 10%;
}

.x:hover {
    color: rgb(80, 205, 255);
}

#features {
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
    z-index: 1;
}

.feature-box {
    text-align: center;
    padding: 5%;
}

#testimonials {
    padding: 7% 15%;
    text-align: center;
    background-color: #92cd5e;
    color: aliceblue;
    font-family: 'Montserrat', sans-serif;
}

.tes-img {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press {
    text-align: center;
    background-color: #ff4c68;
    padding: 30px;
}

.fd {
    width: 15%;
}

#pricing {
    text-align: center;
    padding: 100px;
}

.card-group {
    padding: 0% 5%;
}

.pc {
    padding: 3% 2%;
}

@media (max-width: 993px) {
    #title {
        text-align: center;
    }

    .title-class {
        position: static;
        transform: rotate(0);
        width: 50%;
    }
}

#cta {
    background-color: #ff4c68;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #fff;
    padding: 5% 20%;
}

#footer {
    text-align: center;
    padding: 1% 0%;
}

.op {
    margin: 10px 15px;
}
